---
title: Branding
---

<article>
  <header>
    <h2>Branding</h2>
    <p>Establishing a consistent standard for branding use is essential in the process of </p>
  </header>

  <section>
    <h3>Spacing</h3>
    <p>Be sure to give branding sufficient breathing room. A good rule of thumb is to keep one <em>n</em> worth of space around the standard NCMG logo.</p>
  </section>

  <%= image_tag "logo-spacing.png", style: 'max-width: 600px;' %>

  <section>
    <h3>Branding Guidelines</h3>
    <p>After giving the logo some breathing room, make sure you adhere to the following guidelines.</p>
    <ol>
      <li><p>Do not use gradients</p></li>
      <li><p>Do not use shadows, inset or otherwise.</p></li>
      <li><p>Use solid colour backgrounds, rather that images.</p></li>
      <li><p>Use <code>$zesty</code> on light and dark backgrounds.</p></li>
      <li><p>Use <code>$creme</code> on <code>$zesty</code> backgrounds.</p></li>
    </ol>
  </section>

  <%= image_tag "logos-on-colour.png" %>

</article>