---
title: Components
---

<article>
  <header>
    <h2>Components</h2>
    <p>This section of the style guide outlines a number of standard components and their appearance.</p>
  </header>

  <section>
    <h3>Buttons</h3>
    <p>Here we have a concept of primary, secondary, and tertiary buttons. You can use the different levels to create a visual hierarchy amongst elements. If you want the button to stand out, use the primary version. If you want it to step back a little, go for the secondary or tertiary options.</p>

    <pre><code class="hljs html">&lt;div class="buttons"&gt;
  &lt;a href="/" class="<em>button</em>"&gt;Save changes&lt;/a&gt;
  &lt;a href="/" class="<em>button-secondary</em>"&gt;Open file&lt;/a&gt;
  &lt;a href="/" class="<em>button-tertiary</em>"&gt;Cancel&lt;/a&gt;
&lt;/div&gt;
</code></pre>

    <div class="buttons">
      <div class="button">Save changes</div>
      <div class="button-secondary">Open file</div>
      <div class="button-tertiary">Cancel</div>
    </div>

    <br/>

    <p>Each button also has a danger variant. Use this style when an action has potentially dangerous consequences.</p>

    <pre><code class="hljs html">&lt;div class="buttons"&gt;
  &lt;a href="/" class="button <em>danger</em>"&gt;Delete image&lt;/a&gt;
  &lt;a href="/" class="button-secondary <em>danger</em>"&gt;Movie image&lt;/a&gt;
  &lt;a href="/" class="button-tertiary <em>danger</em>"&gt;Cancel upload&lt;/a&gt;
&lt;/div&gt;
</code></pre>

    <div class="buttons">
      <div class="button danger">Delete image</div>
      <div class="button-secondary danger">Move image</div>
      <div class="button-tertiary danger">Cancel upload</div>
    </div>
  </section>
</article>