.colour-map {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 105px 1fr;
  align-items: center;
  margin: 3rem 0;

  & > div {
    width: 105px;
    height: 105px;
    border-radius: $border-radius;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: $monospace;
    font-size: 85%;
    line-height: 1.7;
  }
}