.colour-ratios {
  display: grid;
  grid-template-columns: 19fr 79fr 2fr;
  width: 100%;

  .colour {
    display: inline;
    height: 40px;
    min-width: 50px;
  }

  p {
    text-align: center;
    margin: 0;
    color: hsl(180, 15%, 60%);
  }

}