.guide-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  grid-gap: 1rem;

  .guide {
    border: 1px solid $grey;
    border-radius: $border-radius;
    text-decoration: none;

    img {
      width: 100%;
    }
  }

}