.header {
  padding: 0;
  max-width: 1000px;
  margin: 0 auto 3rem;

  .header-wrapper {
    display: flex;
    align-items: center;
    background: $licorice;
    border-top: 4px solid $zesty-dark;
    padding: 1.75rem;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;

    h1 {
      display: inline;
      margin: 0;
      font-size: 1em;
      font-weight: normal;
      line-height: 1.0;
      color: $licorice-inverted;
    }
  }

  .logo {
    display: block;
    height: 22px;
    border-right: 2px solid $grey;
    padding-right: 1rem;
    margin-right: 0.75rem;
  }

}