.navigation {
  list-style-type: none;
  padding: 0.25rem 0;
  margin: 0;

  li {
    position: relative;
  }

  a {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 1rem;
    color: $text;
    line-height: 1.8;
    text-decoration: none;

    svg {
      margin-right: 0.75rem;
      height: 24px;
      width: 24px;
      fill: $zesty;
    }

    &:hover {
      background: $grey-lighter;
      border-radius: $border-radius;
    }

  }
}