.thin-palette {
  width: 100%;
  border-radius: $border-radius;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 40px;
  margin: 3rem 0;
}

.palettes {
  width: 100%;
  display: grid;
  grid-gap: 0;
  margin: 5rem 0;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  border-radius: $border-radius;
  overflow: hidden;

  .palette {
    overflow: hidden;
    text-align: center;

    & > div {
      padding: 1rem;
    }

    pre {
      font-family: 'Roboto Mono', monospace;
      margin: 0;
      font-size: 0.84rem;

      &:not(:first-child) {
        text-transform: uppercase;
      }
    }
  }
}