article {
  border: 2px solid $grey-light;
  border-radius: $border-radius;
  padding: 2.5rem;

  img {
    width: 100%;
    border-radius: $border-radius;
    border: 2px solid $grey-light;
    margin: 2rem 0;
  }

  header,
  section {
    max-width: 60ch;
  }

  ol p {
    margin: 0.5rem 0;
  }
}