article {

  & > img {
    display: block;
    max-width: 100%;
    border-radius: $border-radius;
    border: 1px solid $grey;
    margin: 4rem auto;
  }

  header,
  section {
    max-width: 70ch;
    margin: 0 auto;
  }

  ol p {
    margin: 0.5rem 0;
  }

  ol img {
    display: block;
    max-width: 100%;
    border-radius: $border-radius;
    border: 1px solid $grey;
    margin: 1rem 0 2rem;
  }

  .subtitle {
    margin-top: 0;
    margin-bottom: 0.25rem;
    color: $zesty-dark;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.8rem;
  }

  .buttons {
    margin: 4rem -0.5rem;
  }
}