article {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  font-size: $font-size + 1px;

  img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.07), 0 5px 15px rgba(0, 0, 0, 0.07);
    margin: 2rem 0;
  }

  header,
  section {
    max-width: 60ch;
    margin: 6rem auto;
  }
}