h1, h2, h3, h4, h5, h6 {
  color: $text-bold;
}

h1 {
  text-align: center;
  margin: 0 0 2rem;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 6rem 0 -0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: darken($primary, 3%);
  font-size: 80%;
}