a {
  color: $zesty-dark;
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline $zesty-dark;
  transition: color 200ms, text-decoration-color 200ms;

  &:hover {
    color: $text-bold;
    text-decoration-color: $text-bold;
  }
}