<!DOCTYPE html>
<html lang="en-AU">
<head>
  <title>Components &middot; North Coast Marble &amp; Granite</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, maximum-scale: 1.0"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"> 
  <link href="../stylesheets/modern-normalize.css" rel="stylesheet" /><link href="../stylesheets/app.css" rel="stylesheet" />
</head>
<body>
  <div class="header">
  <div class="wrapper">
<a href="/">      <img src="../images/logo.svg" class="logo" alt="North Coast Marble &amp; Granite" />
</a>
    <ul class="navigation">
      <li><a href="/branding">Branding</a></li>
      <li><a href="/colour">Colour</a></li>
      <li><a href="/icons">Icons</a></li>
      <li><a href="/type">Type</a></li>
      <li><a href="/components">Components</a></li>
    </ul>

  </div>
</div>
  
  <div class="footer">
  <div class="wrapper">
    <p class="copyright">North Coast Marble &amp; Granite &copy; 2018</p>
    <p class="copyright">Created by <a href="https://www.seanbailey.io">Sean Bailey</a>.</p>
  </div>
</div>
</body>
</html>