---
title: Colour
---

<article>
  <header>
    <h2>Colour</h2>
    <p>Colour is the most important tool in a designer's belt. It establishes a brand's identity, and the emotions we feel when we engage with it. So it's vital that we pick a palette that not only looks right, it feels right as well.</p>
  </header>

  <section>
    <h3>A fresh coat of paint</h3>
    <p>Each colour has a corresponding Sass variable (hence the dollar sign). There is also an <em>inverted</em> variant of each colour grouping, accessible with the <code>-inverted</code> suffix. The inverted colour can be used for text or elements on top of it's corresponding colour.</p>
  </section>

  <div class="palettes">

    <!-- Zesty -->
    <div class="palette" style="color: hsl(145, 15%, 99%);">
      <div style="background: hsl(145, 63%, 43%);"><pre>$zesty-dark</pre></div>
      <div style="background: hsl(145, 63%, 47%);"><pre>$zesty</pre></div>
      <div style="background: hsl(145, 55%, 56%);"><pre>$zesty-light</pre></div>
      <div style="background: hsl(145, 55%, 66%);"><pre>$zesty-lighter</pre></div>
    </div>

    <!-- Licorice -->
    <div class="palette" style="color: hsl(180, 15%, 98%);">
      <div style="background: hsl(180, 6%, 15%);"><pre>$licorice-dark</pre></div>
      <div style="background: hsl(180, 7%, 16%);"><pre>$licorice</pre></div>
      <div style="background: hsl(180, 5%, 24%);"><pre>$licorice-light</pre></div>
      <div style="background: hsl(180, 3%, 32%);"><pre>$licorice-lighter</pre></div>
    </div>

    <!-- Grey -->
    <div class="palette" style="color: hsl(145, 15%, 30%);">
      <div style="background: #D9DADE;"><pre>$grey</pre></div>
      <div style="background: hsl(220, 20%, 94%);"><pre>$grey-light</pre></div>
      <div style="background: hsl(220, 20%, 97%);"><pre>$grey-lighter</pre></div>
      <div style="background: hsl(0, 0%, 100%); border: 2px solid hsl(220, 20%, 94%);border-top: none;color: hsl(145, 10%, 36%);"><pre>$creme</pre></div>
    </div>

    <!-- Danger -->
    <div class="palette" style="color: hsl(8, 15%, 98%);">
      <div style="background: hsl(8, 76%, 62%);"><pre>$danger-dark</pre></div>
      <div style="background: hsl(8, 100%, 68%);"><pre>$danger</pre></div>
      <div style="background: hsl(8, 100%, 74%);"><pre>$danger-light</pre></div>
      <div style="background: hsl(8, 100%, 76%);"><pre>$danger-lighter</pre></div>
    </div>
  </div>

  <section>
    <h3>Non-Sass environments</h3>
    <p>If you need the branding colours outside of a Sass related environment (Photoshop, Illustrator etc.) then the following colour codes may come in handy.</p>

    <div class="colour-map">

      <!-- Zesty -->
      <div style="background: hsl(145, 63%, 47%);"></div>
      <ul>
        <li><strong>HSL:</strong> 145&deg;, 63%, 47%</li>
        <li><strong>RGB:</strong> 44, 195, 107</li>
        <li><strong>Hex:</strong> #2CC36B</li>
        <li><strong>CMYK:</strong> 77, 0, 45, 24</li>
      </ul>

      <!-- Licorice -->
      <div style="background: #262C2C;"></div>
      <ul>
        <li><strong>HSL:</strong> 180&deg;, 7%, 16%</li>
        <li><strong>RGB:</strong> 38, 44, 44</li>
        <li><strong>Hex:</strong> #262C2C</li>
        <li><strong>CMYK:</strong> 14, 0, 0, 83</li>
      </ul>

      <!-- Grey -->
      <div style="background: hsl(228, 7%, 86.1%);"></div>
      <ul>
        <li><strong>HSL:</strong> 228&deg;, 7%, 86%</li>
        <li><strong>RGB:</strong> 217, 218, 222</li>
        <li><strong>Hex:</strong> #D9DADE</li>
        <li><strong>CMYK:</strong> 2, 2, 0, 13</li>
      </ul>

      <!-- Creme -->
      <div style="background: hsl(0, 0%, 100%); border: 2px solid hsl(228, 7%, 86.1%);"></div>
      <ul>
        <li><strong>HSL:</strong> 0&deg;, 0%, 100%</li>
        <li><strong>RGB:</strong> 255, 255, 255</li>
        <li><strong>Hex:</strong> #FFFFFF</li>
        <li><strong>CMYK:</strong> 0, 0, 0, 0</li>
      </ul>

      <!-- Danger -->
      <div style="background: hsl(8, 100%, 68%);"></div>
      <ul>
        <li><strong>HSL:</strong> 8&deg;, 100%, 68%</li>
        <li><strong>RGB:</strong> 255, 114, 92</li>
        <li><strong>Hex:</strong> #FF725C</li>
        <li><strong>CMYK:</strong> 0, 55, 64, 0</li>
      </ul>

    </div>
  </section>

  <section>
    <h3>Colour ratios</h3>
    <p>When representing the NCMG brand, do your best to follow the below ratios. Note that Zesty is not meant to be used on mass, only as an accent colour.</p>
  </section>

  <div class="colour-ratios">

    <!-- Labels -->
    <p>~19%</p>
    <p>~79%</p>
    <p>~2%</p>

    <!-- Colours -->
    <div class="colour" style="background: hsl(180, 7%, 16%); color: hsl(180, 15%, 98%); border-radius: 3px 0 0 3px;"></div>
    <div class="colour" style="background: hsl(0, 0%, 100%); color: hsl(145, 10%, 36%); border-top: 2px solid hsl(220, 20%, 94%); border-bottom: 2px solid hsl(220, 20%, 94%);"></div>
    <div class="colour" style="background: hsl(145, 63%, 47%); color: hsl(145, 15%, 99%); border-radius: 0 3px 3px 0;"></div>
 
  </div>
  

</article>