<div class="footer">
    <p class="copyright">North Coast Marble &amp; Granite &copy; 2018</p>
    <p class="copyright">Created by <a href="https://www.seanbailey.io" class="anchor">Sean Bailey</a>.</p>
</div>