<div class="header">
  <div class="header-wrapper">
    <% link_to '/', class: 'logo-wrapper' do %>
      <%= image_tag 'logo.svg', { class: 'logo', alt: 'North Coast Marble & Granite' } %>
      <h1>Style Guide</h1>
    <% end %>
  </div>
</div>