---
title: Iconography
---

<article>
  <header>
    <p class="subtitle">Style Guide</p>
    <h2>Iconography</h2>
    <p>Icons can be a great way to communicate to the viewer. People of all ages, nationalities, and education levels gleam meaning from good iconography. Often times without even realising it. A well designed interface should communicate to everyone, and icons help us achieve this.</p>
  </header>

  <section>
    <h3>Google Material Icons</h3>
    <p><a href="https://material.io/tools/icons/?style=baseline" target="_blank">Material Icons</a> is a fantastic suite of icons from Google, made available to the public for free. It's tried and tested, a backbone of the Material Design ecosystem, and found on Android phones around the world. It comes with a number of different themes, but we'll be making use of the rounded variety, as it complements our typeface quite nicely.</p>
  </section>

  <%= image_tag "icon-samples.png", class: 'captioned' %>
  <div class="caption">
    <p>Some sample icons from the rounded theme</p>
  </div>

  <section>
    <p>Themes were only introduced recently (as of June 2018), so we can't access them through the more convenient web fonts just yet. If you'd like to make use of these icons, please use SVG.</p>
  </section>

  <section>
    <h3>Guidelines</h3>
    <p>Please adhere to the following guidelines when using icons on the NCMG website.</p>
    <ol>
      <li>
        <p><strong>Icons should complement, not supplement.</strong> Place icons beside interactive elements for visual grepping, rather than replacing them.</p>
      </li>
      <li>
        <p><strong>Deemphasize icons.</strong> The text beside them should stand out. Particularly when the icon you're using has more weight than its text.</p>
      </li>
    </ol>
  </section>

</article>